.layout {
    &__container {
        max-width: 960px;
        margin: 0 auto;
    }

    &__element {
        padding: 1.5em;
        transition: all .3s;

        @media (min-width: $sm-max) {
            padding: 1em;
        }
    }
}
