/*
 * Theme colors
 */
$grey: lighten(grey, 25%);
$light-grey: lighten($grey, 10%);
$lighter-grey: lighten($grey, 18%);
$dark-grey: darken($grey, 18%);
$black: lighten(black, 10%);
$primary-bg: #39AF78;
$primary-fg: #fff;
$secondary-bg: #2E4054;
$secondary-fg: #fff;
$tertiary-bg: #fff;
$tertiary-fg: #000;
$error-bg: crimson;
$error-fg: #fff;
$danger-bg: orangered;
$danger-fg: #fff;
$success-bg: lighten(#39AF78, 5%);
$success-fg: #fff;
