/*
 * Theme colors
 */
$primary-bg: #39AF78;
$primary-fg: #fff;
$secondary-bg: #2E4054;
$secondary-fg: #fff;
$tertiary-bg: #fff;
$tertiary-fg: #000;
$error-bg: crimson;
$error-fg: #fff;
$danger-bg: orangered;
$danger-fg: #fff;
$success-bg: lighten(#39AF78, 5%);
$success-fg: #fff;
